@model mattjgrant.ViewModels.ChecklistItemViewModel

<div class="js-checklist-item-editable checklist-item row">
    <div>
        @Html.HiddenFor(m => m.NestedChecklistID)
        @Html.HiddenFor(m => m.ChecklistItemID)
        <div class="input-group col-md-11">
            <div class="input-group-addon">
                @Html.CheckBoxFor(m => m.IsChecked, new { @class = "js-item-checkbox" })
            </div>
            @Html.HiddenFor(m => m.Order, new { @class = "js-ordering" })
            @if (Model.IsChecklist)
            {
                <span>
                    @Html.ActionLink(Model.Name, "List", "Checklist", new { checklistID = Model.NestedChecklistID, parentChecklistID = Model.ChecklistItemID }, new { })
                </span>
            }
            else
            {
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            }
        </div>
        <div class=" col-md-1">
            <a href="#" class="js-remove-checklist-item">remove</a>
        </div>
    </div>
</div>

