@model mattjgrant.ViewModels.ChecklistItemViewModel

<div class="js-checklist-item-editable row">
    <div>
        @Html.HiddenFor(m => m.NestedChecklistID)
        @Html.HiddenFor(m => m.ChecklistItemID)
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "js-item-checkbox" })
        </div>
        @Html.HiddenFor(m => m.Order, new { @class = "js-ordering" })
        @if (Model.IsChecklist)
        {
            <span class="input-group-addon">
                @Html.ActionLink(Model.Name, "List", "Checklist", new { checklistID = Model.NestedChecklistID }, new { })
            </span>
        }
        else
        {
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        }
        <div class=" col-md-2">
            <a href="#" class="js-remove-checklist-item">remove</a>
        </div>
    </div>
</div>

