@model mattjgrant.ViewModels.CopyChecklistViewModel

@{
    ViewBag.Title = "Copy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Copy</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Checklist</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.OriginalChecklistID)

        <p>
            @Model.OldName
        </p>

        <div class="form-group">
            @Html.LabelFor(model => model.NewName, "New name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewName)
                @Html.ValidationMessageFor(model => model.NewName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


