@model IEnumerable<mattjgrant.Models.Checklist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Name, "List", new { checkListID = item.ChecklistID })
        </td>
        <td>
            @Html.ActionLink("Edit/Archive", "Edit", new { id = item.ChecklistID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ChecklistID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChecklistID }) |
            @Html.ActionLink("Items", "List", new { checkListID = item.ChecklistID }) |
            @Html.ActionLink("Copy", "Copy", new { checkListID = item.ChecklistID }) |
            @Html.ActionLink("Add nested checklist", "NestedChecklist", new { checkListID = item.ChecklistID }) 
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("View archived", "ArchivedChecklists")
</p>