@using mattjgrant.ViewModels
@model ChecklistViewModel
@using mattjgrant.Helpers;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/checklist")

@if (ViewData["Success"] != null)
{
    <div class="success">List saved</div>
}

<div class="js-checklist-panel">
    <h1>@Model.Name</h1>
    @using (Html.BeginForm("List", "Checklist", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(m => m.ChecklistID)
    <div class="js-checklist list-group">
        @Html.EditorFor(m => m.Items)
    </div>
        <div class="btn-block">
            <a href="#" class="js-add-checklist-item btn">Add checklist item</a>
            <a href="#" class="js-clear-checklist-items btn">Clear all checklist items</a>
            <input class="btn" type="submit" value="save">
            @Html.ActionLink("cancel", "List", new { checklistID = Model.ChecklistID, @class="btn" })
        </div>
    }

    <div class="js-checklist-item-template" style="display:none">
        @Html.Partial("_ChecklistItemTemplate", new ChecklistItemViewModel())
    </div>

</div>

@*<div class="js-editable-items">
    @Html.DisplayFor(m => m.Items)
</div>*@