@using mattjgrant.ViewModels
@model ChecklistViewModel
@using mattjgrant.Helpers;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/checklist")

<div class="js-checklist-panel">
    <h2>@Model.Name</h2>
    @using (Html.BeginForm("List", "Checklist", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(m => m.ChecklistID)
        <div class="js-checklist">
            @Html.EditorFor(m => m.Items)
        </div>
        <a href="#" class="js-add-checklist-item">add checklist item</a>
        <input type="submit" value="save">
    }

    <div class="js-checklist-item-template" style="display:none">
        @Html.Partial("_ChecklistItemTemplate", new ChecklistItemViewModel())
    </div>

</div>

@*<div class="js-editable-items">
    @Html.DisplayFor(m => m.Items)
</div>*@